name: publish-service-acceptance-tests
on:
  push:
    branches:
      - 'master'
    paths:
      - 'src/main/**'
      - 'gradle.properties'
  workflow_call:
    inputs:
      version-fragment:
        description: The version fragment to be bumped up. Can be major, feature or bug.
        default: "bug"
        type: string
        required: false
      java-distribution:
        description: The Java distribution to be used.
        default: "adopt"
        type: "string"
        required: false
      java-version:
        description: The Java version to be used.
        default: "17"
        type: string
        required: false

permissions: write-all

jobs:
  build_push_library:
    name: Build and Push Library
    runs-on: ubuntu-latest
    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions: write-all
    # uses: udemy/services-github-actions/.github/workflows/library-build-push.yml@main
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Read Current Version
        id: read_version
        uses: christian-draeger/read-properties@d7ee6b196f3885d805f7a3a74407e7e212d42c94
        with:
          path: 'gradle.properties'
          properties: 'version'
      - name: Increment Version
        id: bump_version
        uses: christian-draeger/increment-semantic-version@9d04121fb4825e033aeeaaf6d42b44b8b4e81ac5
        with:
          current-version: ${{ steps.read_version.outputs.version }}
          version-fragment: "bug"
      - name: Write Next Version to Release
        shell: bash
        run: |
          sed -i "s/^[#]*\s*version *=.*/version = ${{ steps.bump_version.outputs.next-version }}/" gradle.properties
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::602046956384:role/GithubActions-github-actions-services-repos-Role
          aws-region: us-east-1
      - name: Get Github Secrets from Secrets manager
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            GH_PACKAGES_TOKEN
            GH_PACKAGES_USERNAME
            GH_SERVICES_BOT_TOKEN
            ART_SERVICES_PUBLISHER_PASSWORD
            ART_SERVICES_PUBLISHER
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "adopt"
          java-version: "17"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Build and Push Library
        shell: bash
        env:
          GITHUB_PACKAGES_TOKEN: ${{ env.GH_PACKAGES_TOKEN }}
          GITHUB_PACKAGES_USERNAME: ${{ env.GH_PACKAGES_USERNAME }}
          ART_USER_NAME: ${{ env.ART_SERVICES_PUBLISHER }}
          ART_API_KEY: ${{ env.ART_SERVICES_PUBLISHER_PASSWORD }}
        run: ./gradlew clean assemble test publish --stacktrace
      - name: Create Pull Request
        id: create-pr
        uses: peter-evans/create-pull-request@2b011faafdcbc9ceb11414d64d0573f37c774b04
        #This is peter-evans/create-pull-request@v4.2.3
        with:
          add-paths: gradle.properties
          commit-message: Automated semver change
          committer: udemy-services-bot <svc-services-team-bot@udemy.com>
          branch: increment-semver
          delete-branch: true
          title: Increment Semver
          labels: automerge
          body: "This PR was generated automatically by Github Action during library build and push"
      - name: Auto Approve PR
        id: autoapprove
        uses: hmarr/auto-approve-action@da92209ac68d76fd20af3efa5268a5e8fafb91d9
        #Note this is hmarr/auto-approve-action@v3.1.0
        with:
          pull-request-number: ${{ steps.create-pr.outputs.pull-request-number }}
          github-token: ${{ env.GH_SERVICES_BOT_TOKEN }}
      - name: Automerge
        id: automerge
        uses: "pascalgn/automerge-action@eb68b061739cb9d81564f8e812d0b3c45f0fb09a"
        env:
          MERGE_METHOD: squash
          MERGE_DELETE_BRANCH: "true"
          MERGE_ERROR_FAIL: "true"
          PULL_REQUEST: ${{ steps.create-pr.outputs.pull-request-number }}
          GITHUB_TOKEN: ${{ env.GH_SERVICES_BOT_TOKEN }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          path: build/reports/tests/test/
          if-no-files-found: warn
          retention-days: 7